doctype 5
html(ng-app="laweasyread")
    head
        meta(charset="utf-8")
        title= "laweasyread"
    body
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.3/angular.min.js")
    script(src="js/app.js")
