extends layout

block navbar
    .navbar-inner
        .container
            .brand laweasyread
block querybox
    .search-query
        input(id='query'
            ng-model = 'lawSelected'
            typeahead = 'law for law in laws | filter:$viewValue | limitTo:10'
            autofocus
            autocomplete = 'off'
            placeholder = '請輸入法律名稱'
        )

block content
    #lawcontent.ng-cloak
        .well
            div(ng-repeat = "law in aboutLaw.name")
                h2 {{law.name}}
                p 起始日期：{{law.start_date}}
            p lyID：{{aboutLaw.lyID}}
            p PCode：{{aboutLaw.PCode}}
            h5 歷史沿革：
            //- FIXME  workaround : added "track by $index" due to unknown error
            div(ng-repeat = "(date,reason) in aboutLaw.history track by $index")
                p {{date}}：{{reason}}
