extends layout

block navbar
    .navbar-inner
        .container
            .brand laweasyread
block querybox
    .search-query
        input(id="query", autofocus, autocomplete="off", placeholder="請輸入法律名稱", ng-model="lawSelected", typeahead="law for law in laws | filter:$viewValue")

block content
    #lawcontent
        .well
            h2 {{lawSelected}}
