extends layout

block navbar
    .navbar.navbar-fixed-top
        .navbar-inner
            .container-fluid
                .brand laweasyread
                ul.nav
                    li
                        a(href='/') Search
                    li
                        a(href='https://github.com/g0v/laweasyread') APIs
block querybox
    .search-query
        input(id='query'
            ng-model = 'lawSelected'
            typeahead = 'law for law in laws | filter:$viewValue | limitTo:10'
            autofocus
            autocomplete = 'off'
            placeholder = '請輸入法律名稱'
        )

block content
    #lawcontent.ng-cloak
        .well
            div(ng-repeat = "law in aboutLaw.name")
                h2 {{law.name}}
                p
                    span.label.label-default 起始日期
                    span ：{{law.start_date}}
                p
                    span.label.label-default lyID
                    span ：{{aboutLaw.lyID}}
                p
                    span.label.label-default PCode
                    span ：{{aboutLaw.PCode}}
                hr
                h2.label.label-inverse 歷史沿革
                //- FIXME  workaround : added "track by $index" due to unknown error
                div(ng-repeat = "(date,reason) in aboutLaw.history track by $index")
                    span.label.label-default {{date}}
                    span ：{{reason}}
                hr
